{% extends 'base.html.twig' %}

{% block title %}Gérer les campus{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center">Gérer les campus</h1>
        <form method="get">
            <fieldset>
                <legend>Filtres</legend>
                <div class="d-flex justify-content-between">
                    <div class="form-group">
                        <div class="form-inline">
                            <label for="nom_campus_contient">Le nom du campus contient : </label>
                            <input class="form-control" type="text" id="nom_campus_contient"
                                   name="nom_campus_contient"/>
                            <button type="submit" class="btn btn-primary">Recherche</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <article>
            <table class="table table-striped text-center">
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campus in campusTab %}
                    <tr>
                        <td>{{ campus.nom }}</td>
                        <td>
{#                            <a href="#" class="btn btn-warning btn-sm" id="modifier">Modifier</a>#}
                            <a href="{{ path('app_campus_supprimer', {id: campus.id}) }}" class="btn btn-danger btn-sm" id="supprimer">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="form-group">
                        {{ form_start(form) }}
                        <td>{{ form_row(form.nom) }}</td>
                        <td>
                            <button type="submit" class="btn btn-success btn-sm" id="ajouter">Ajouter</button>
                        </td>
                        {{ form_end(form) }}
                </tr>
                </tbody>
            </table>
        </article>
        {{ knp_pagination_render(campusTab) }}
        {% if campusTab.totalItemCount == 0 %}
            <p>Aucun campus n'est enregistré selon votre critères de recherches.</p>
        {% endif %}
    </div>
{% endblock %}
