{%  extends 'base.html.twig' %}

{% block body %}
    <h1>{{ profil.username }}</h1>
    {% if profil.username == app.user.username %}
        <button><a href="{{ path('app_participant_modifier_profil', {id: profil.id}) }}">Modifier mon profil</a></button>
    {% endif %}
    <div>
        <p>Prénom : {{ profil.prenom }}</p>
        <p>Nom : {{ profil.nom }}</p>
        <p>Téléphone : {{ profil.telephone }}</p>
        <p>Email : {{ profil.mail }}</p>
        <p>Campus : {{ profil.campus.nom }}</p>

    </div>
{% endblock %}