{% extends 'base.html.twig' %}

{% block title sortie.nom %}

{% block body %}
    <article>
        <div class="row">
            <div class="col-sm-6">
                <p>Nom de la sortie : {{ sortie.nom }}</p>
                <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('d/M/Y H:i') }}</p>
                <p>Date limite d'inscription : {{ sortie.dateLimiteInscription | date('d/M/Y') }}</p>
                <p>Nombre de places : {{ sortie.nbInscriptionMax }}</p>
                <p>Durée : {{ sortie.duree }} minutes</p>
                <p>Description et infos : {{ sortie.infosSortie | raw }}</p>
            </div>
            <div class="col-sm-6">
                <p>Campus : {{ sortie.siteOrganisateur.nom }}</p>
                <p>Lieu: {{ sortie.lieu.nom }}</p>
                <p>Rue : {{ sortie.lieu.rue }}</p>
                <p>Ville : {{ sortie.lieu.ville.nom }}</p>
                <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
                <p>Latitude : {{ sortie.lieu.latitude }}</p>
                <p>Longitude : {{ sortie.lieu.longitude }}</p>
            </div>
        </div>
    </article>

    <h3>Liste des participants inscrits :</h3>
    <div class="d-flex flex-row">
        {% if sortie.participants | length > 0%}
            <table>
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in sortie.participants %}
                    <tr>
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.prenom }} {{ participant.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucun participant pour le moment.</p>
        {% endif %}
    </div>
    <button><a href="{{ path('app_sortie_index') }}">Accueil</a></button>
{% endblock %}