{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
    <article>
        <h2 class="d-flex justify-content-center">{{ sortie.nom }}</h2>
        <div class="d-flex justify-content-around">
            <form method="post">
                <div >
                    <p>Nom de la sortie : {{ sortie.nom }}</p>
                    <p>Date et heure de la sortie : {{ sortie.dateHeureDebut | date('d/m/Y à H:i') }}</p>
                    <p>Campus : {{ sortie.siteOrganisateur.nom }}</p>
                    <p>Lieu: {{ sortie.lieu.nom }} {{ sortie.lieu.ville.codePostal }} {{ sortie.lieu.ville.nom }}</p>
                </div>
                <div>
                    <label for="motif">Motif : </label>
                    <textarea id="motif" name="motif" required></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                    <button type="reset" class="btn btn-danger">Annuler</button>
                </div>
            </form>
        </div>
    </article>
{% endblock %}