{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="d-flex justify-content-center">Créer une sortie</h2>
        <div class="col-sm-12">
            {{ form_start(form) }}
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    {{ form_row(form.nom) }}
                    {{ form_row(form.dateHeureDebut) }}
                    {{ form_row(form.dateLimiteInscription) }}
{#                    <label for="{{ form.dateLimiteInscription }}">Date limite d inscription : </label>#}
{#                    <input type="date" class="form-control" id="{{ form.dateLimiteInscription }}"#}
{#                           name="{{ form.dateLimiteInscription }}" value="{{ form.dateLimiteInscription }}">#}
{#                    {% do form.dateLimiteInscription.setRendered %}#}
                    {{ form_row(form.nbInscriptionMax) }}
                    {{ form_row(form.duree) }}
                    {{ form_row(form.infosSortie) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.siteOrganisateur) }}
                    {{ form_row(form.ville) }}
                    {{ form_row(form.codePostal) }}
                    {{ form_row(form.lieu) }}
                    {{ form_row(form.rue) }}
                    {{ form_row(form.latitude) }}
                    {{ form_row(form.longitude) }}
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        {{ form_row(form.enregistrer, {
            'attr' : {'class' : 'btn btn-primary'}
        }) }}
        {{ form_row(form.publier, {
            'attr' : {'class' : 'btn btn-success'}
        }) }}
        {{ form_row(form.annuler, {
            'attr' : {'class' : 'btn btn-warning'}
        }) }}
        {{ form_row(form.supprimer, {
            'attr' : {'hidden' : 'true'}
        }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
