{% extends 'base.html.twig' %}

{% block title 'Trouver toutes les sorties organisé !' %}

{% block body %}
    <div class="container">
    <h1>Toutes les sorties</h1>
        <article>
    {% for sortie in sorties %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut | date('d/M/Y H:m') }}</td>
                    <td>{{ sortie.dateLimiteInscription | date('d/M/Y') }}</td>
                    <td>Nb / {{ sortie.nbInscriptionMax }}</td>
                     <td>{{ sortie.etat }}</td>
{#                     <td>{{ inscrit ? }}</td>#}
{#                     <td><a href="#">{{ sortie.organisateur.getNom }}</a></td>#}
                    <td><a href="{{ path('app_sortie_afficher', {id: sortie.id}) }}">Afficher - </a><a href="#">Se
                            désister</a>
                        <a href="#">S'inscrire</a><a href="{{path('app_sortie_modifier', {id: sortie.id})}}">Modifier - </a>
                        <a href="#">Publier</a><a href="#">Annuler</a></td>
                </tr>
                </tbody>
            </table>
        </article>
        </div>
    {% endfor %}
{% endblock %}
