{% extends 'base.html.twig' %}

{% block title %}Sorties organisées{% endblock %}



{% block body %}
    <div class="container">
        <h1 class="d-flex justify-content-center">Toutes les sorties</h1>
            <form method="get">
                <fieldset>
                    <legend>Filtres</legend>
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <div class="form-inline d-flex justify-content-between">
                                <label for="campus">Campus : </label>
                                <select class="form-control" name="campus" id="campus">
                                    <option value="">Tous</option>
                                    {% for c in campus %}
                                        <option value="{{ c.id }}">{{ c.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-inline d-flex justify-content-between">
                                <label for="nom_sortie_contient">Le nom de la sortie contient : </label>
                                <input class="form-control" type="text" id="nom_sortie_contient" name="nom_sortie_contient"/>
                            </div>
                            <div class="form-inline d-flex justify-content-between">
                                <label for="date_debut">Entre :</label>
                                <input class="form-control" type="datetime-local" id="date_debut" name="date_debut">
                                <label for="date_fin">et</label>
                                <input class="form-control" type="datetime-local" id="date_fin" name="date_fin">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="sortie_organisateur" name="sortie_organisateur">
                            <label for="sortie_organisateur">Sorties dont je suis l'organisateur/trice </label>
                            <br>
                            <input type="checkbox" id="sortie_inscrit" name="sortie_inscrit">
                            <label for="sortie_inscrit">Sorties auxquelles je suis inscrit/e </label>
                            <br>
                            <input type="checkbox" id="sortie_non_inscrit" name="sortie_non_inscrit">
                            <label for="sortie_non_inscrit">Sorties auxquelles je ne suis pas inscrit/e </label>
                            <br>
                            <input type="checkbox" id="sorties_passees" name="sorties_passees">
                            <label for="sorties_passees">Sorties passées </label>
                        </div>
                        <div class="form-group align-self-center">
                            <button type="submit" class="btn btn-primary">Filtrer ma recherche</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        <article>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>
                            {{ sortie.nom }}
                        </td>
                        <td>
                            {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}
                        </td>
                        <td>
                            {{ sortie.dateLimiteInscription | date('d/m/Y H:i') }}
                        </td>
                        <td>
                            {{ sortie.participants | length }} / {{ sortie.nbInscriptionMax }}
                        </td>
                        <td>
                            {{ sortie.etat.libelle }}
                        </td>
                        <td>
                            {% if sortie.participants.contains(utilisateur) %}
                                &#10003;
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_participant_voir_profil', {id: sortie.organisateur.id }) }}">{{ sortie.organisateur.username }}</a>
                        </td>
                        <td class="form-inline">
                            {# Le bouton afficher n'est disponible que pour les sorties dans un état autre que créé #}
                            {% if sortie.etat.libelle != "Créée" %}
                            <a href="{{ path('app_sortie_afficher', {id: sortie.id}) }}" class="btn btn-primary btn-sm">Afficher</a>
                            {% endif %}

                            {# Vérifie si l'état de la sortie est bien ouverte #}
                            {% if sortie.etat.libelle == "Ouverte" %}
                                {% if sortie.participants.contains(utilisateur) and 'now' |date('U') < sortie.dateHeureDebut | date('U') %}
                                    <a href="{{ path('app_sortie_se_desinscrire', {id: sortie.id}) }}"
                                       class="btn btn-warning btn-sm">Se désister</a>
                                {% elseif utilisateur != sortie.organisateur and sortie.participants | length < sortie.nbInscriptionMax
                                    and sortie.dateLimiteInscription | date('U') > 'now' |date('U') %}
                                    <a href="{{ path('app_sortie_s_inscrire', {id: sortie.id}) }}"
                                       class="btn btn-success btn-sm">S'inscrire</a>
                                {% endif %}
                            {% endif %}

                            {# Vérifie si l'état de la sortie est à créée #}
                            {% if app.user.username == sortie.organisateur.username and sortie.etat.libelle == "Créée"
                                or "ROLE_ADMIN" in app.user.roles and sortie.etat.libelle == "Créée" %}
                                <a href="{{ path('app_sortie_modifier', {id: sortie.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                                <a href="{{ path('app_sortie_publier', {id: sortie.id}) }}" class="btn btn-success btn-sm">Publier</a>
                            {% endif %}

                            {# Vérifie si l'état de la sortie est autre que l'état créée #}
                            {% if app.user.username == sortie.organisateur.username and sortie.etat.libelle != "Créée"
                                or "ROLE_ADMIN" in app.user.roles and sortie.etat.libelle != "Créée" %}
                                <a href="#" class="btn btn-danger btn-sm">Annuler</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(sorties) }}
            {% if sorties.totalItemCount == 0 %}
                <p>Aucune sortie n'est prévue selon votre critères de recherches.</p>
            {% endif %}
        </article>
        <div>
            <a href="{{ path('app_sortie_creer') }}" class="btn btn-primary">Créer une sortie</a>
        </div>
    </div>
{% endblock %}
