{% extends 'base.html.twig' %}

{% block title %}Sorties organisées{% endblock %}

{% block body %}
    <div class="container">
        <h1>Toutes les sorties</h1>
        <div class="col-sm-12">
            <form method="get">
                <fieldset>
                    <legend>Filtres</legend>
                    <div class="d-flex justify-content-between">
                        <div class="form-group">
                            <div class="form-inline d-flex justify-content-between">
                                <label for="campus">Campus : </label>
                                <select class="form-control" name="campus" id="campus">
                                    <option value="">Tous</option>
                                    {% for c in campus %}
                                        <option value="{{ c.id }}">{{ c.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-inline d-flex justify-content-between">
                                <label for="nom_sortie_contient">Le nom de la sortie contient : </label>
                                <input class="form-control" type="text" id="nom_sortie_contient"
                                       name="nom_sortie_contient"/>
                            </div>
                            <div class="form-inline d-flex justify-content-between">
                                <label for="date_debut">Entre :</label>
                                <input class="form-control" type="datetime-local" id="date_debut">
                                <label for="date_fin">et</label>
                                <input class="form-control" type="datetime-local" id="date_fin">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="sortie_organisateur">
                            <label for="sortie_organisateur">Sorties dont je suis l'organisateur/trice </label>
                            <br>
                            <input type="checkbox" id="sortie_inscrit">
                            <label for="sortie_inscrit">Sorties auxquelles je suis inscrit/e </label>
                            <br>
                            <input type="checkbox" id="sortie_non_inscrit">
                            <label for="sortie_non_inscrit">Sorties auxquelles je ne suis pas inscrit/e </label>
                            <br>
                            <input type="checkbox" id="sorties_passees">
                            <label for="sorties_passees">Sorties passées </label>
                        </div>
                        <div class="form-group align-self-center">
                            <button type="submit" class="btn btn-primary">Filtrer ma recherche</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <article>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Clôture</th>
                    <th scope="col">Inscrits / Places</th>
                    <th scope="col">Etat</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>
                            {{ sortie.nom }}
                        </td>
                        <td>
                            {{ sortie.dateHeureDebut | date('d/m/Y H:m') }}
                        </td>
                        <td>
                            {{ sortie.dateLimiteInscription | date('d/M/Y') }}
                        </td>
                        <td>
                            {{ sortie.participants | length }} / {{ sortie.nbInscriptionMax }}
                        </td>
                        <td>
                            {{ sortie.etat.libelle }}
                        </td>
                        <td>
                            TODO
                        </td>
                        <td>
                            <a href="{{ path('app_participant_voir_profil', {id: sortie.organisateur.id }) }}">{{ sortie.organisateur.username }}</a>
                        </td>
                        <td>
                            <a href="{{ path('app_sortie_afficher', {id: sortie.id}) }}">Afficher</a>
                            {% if sortie.etat.id < 3 %}
                                {% if utilisateur.sortiesInscrits.contains(sortie) %}
                                    <a href="{{ path('app_sortie_se_desinscrire', {id: sortie.id}) }}">Se désister</a>
                                {% elseif utilisateur != sortie.organisateur %}
                                        <a href="{{ path('app_sortie_s_inscrire', {id: sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                            {% endif %}
                            {% if app.user.username == sortie.organisateur.username %}
                                <a href="{{ path('app_sortie_modifier', {id: sortie.id}) }}">Modifier</a>
                                <a href="#">Publier</a>
                                <a href="#">Annuler</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(sorties) }}
            {% if sorties.totalItemCount == 0 %}
                <p>Aucune sortie n'est prévue selon votre critères de recherches.</p>
            {% endif %}
        </article>
        <div>
            <a href="{{ path('app_sortie_creer') }}" class="btn btn-primary">Créer une sortie</a>
        </div>
    </div>
{% endblock %}
